---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

const posts = await getCollection('blog');
const tags = [...new Set(posts.flatMap(post => post.data.tags).filter(tag => tag))];
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title="Tags" description="Todos los tags del blog" />
		<style>
			html, body{
				height: 100%;
			}
			body{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			main {
				width: 720px;
				margin: 0 auto;
				padding: 1rem;
			}
			.tags {
				display: flex;
				flex-wrap: wrap;
				gap: 1.5rem;
				list-style-type: none;
				padding: 0;
				margin: 2rem 0;
			}
			.tag {
				background-color: var(--accent);
				color: white;
				padding: 0.5rem 1rem;
				border-radius: 4px;
				text-decoration: none;
				font-size: 1.15rem;
			}
			.tag:hover {
				background-color: var(--accent-dark);
			}
			footer{
				align-self: flex-end;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Tags</h1>
			<ul class="tags">
				{tags.map(tag => (
					<li>
						<a href={`/tags/${tag}`} class="tag">
							{tag}
						</a>
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>
