---
import AboutHeroImage from '../assets/ABOUT-IMG.png';
import NewsletterForm from '../components/NewsletterForm.astro';
import Layout from '../layouts/BlogPost.astro';
import "../styles/global.css"
---

<Layout
	title="Acerca de este blog"
	description="Aprendivzaje: Soluciones y tutoriales directos de un programador. Guarda errores resueltos y guías prácticas que me topé en mi carrera. ¡Aprende con mi experiencia!"
	pubDate={new Date('Septiembre 27 2025')}
	heroImage={AboutHeroImage}
>
	 <h1>¡Hola! Bienvenido/a a Aprendivzaje, tu guía para resolver problemas de código.</h1>

    <p>Mi nombre es <strong>Omar</strong>, y he creado este espacio para ti, y un poco también para mi yo del pasado.</p>

    <p>Como desarrollador, me he topado con innumerables errores, frustraciones y problemas que me han costado horas de investigación y dolor de cabeza. He estado en tu lugar, buscando en foros y en Stack Overflow esa solución que parece imposible de encontrar.</p>

    <p>Aquí, mi objetivo es simple: documentar los problemas que he resuelto y compartir las soluciones que he encontrado. De esta manera, espero que mis "dolores de cabeza" se conviertan en la respuesta que tú necesitas.</p>

    <p>En este blog encontrarás artículos prácticos y directos sobre:</p>

    <ul>
        <li><strong>Problemas y soluciones específicas</strong> en lenguajes como <strong>JavaScript, PHP, Python y Go</strong>.</li>
        <li><strong>Guías de resolución de problemas</strong> que no dependen de un lenguaje, sino de la lógica y la arquitectura del código.</li>
        <li><strong>Historias reales de mi vida como desarrollador</strong>, con lecciones aprendidas sobre cómo abordar proyectos y desafíos.</li>
    </ul>

    <p>Considera este blog tu "libreta de notas" compartida, un lugar donde el código se rompe para poder ser reparado.</p>

    <p>¡Gracias por visitar! Espero que el tiempo que pases aquí te ahorre muchas horas de búsqueda y te ayude a seguir adelante.</p>

    <p>Nos leemos</p>
  
	<NewsletterForm/>
</Layout>
