---

---
    <div id="mlb2-31344474" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-31344474">
      <div class="ml-form-align-center ">
        <div class="ml-form-embedWrapper embedForm bg">
          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">

            <div class="ml-form-embedContent" style=" ">
              
                <h4>¡Suscríbete a nuestro newsletter!</h4>
                <p>Te notificaremos mensualmente las novedades que se publiquen en Aprendivzaje</p>
              
            </div>
            <form class="ml-block-form flex gap-5" action="https://assets.mailerlite.com/jsonp/1819314/forms/166584245583611084/subscribe" data-code="" method="post" target="_blank">
              <div class="ml-form-formContent">          
                  <div class="ml-form-fieldRow ml-last-item">
                    <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                      <!-- input -->
                      <input aria-label="email" aria-required="true" type="email" class="form-control border-2 rounded-md h-[50px] px-5 email-input" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
                    </div>
                  </div>
                
              </div>

              <input type="hidden" name="ml-submit" value="1">

              <div class="ml-form-embedSubmit">
                
                  <button type="submit" class="primary form-btn rounded-md">Subscríbete</button>
                
                <button disabled="disabled" style="display: none;" type="button" class="loading">
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Cargando...</span>
                </button>
              </div>

              
              <input type="hidden" name="anticsrf" value="true">
            </form>
          </div>

          <div class="ml-form-successBody row-success" style="display: none">

            <div class="ml-form-successContent">
              
                <h4>¡Gracias por suscribirte!</h4>
                
                  <p>A partir de ahora recibiras un correo mensual con las novedades de Aprendivzaje.</p>
                
              
            </div>

          </div>
        </div>
      </div>
    </div>

  

  
  
  <script is:inline>
    function ml_webform_success_31344474() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-31344474 .row-success').show();
      $('.ml-subscribe-form-31344474 .row-form').hide();
    }
      </script>
  
  
      <script is:inline src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
        <script>
            fetch("https://assets.mailerlite.com/jsonp/1819314/forms/166584245583611084/takel")
        </script>